main{
   background-color: rgb(21, 4, 83);
   color: white;
}
.error{
   color:red;
}
.imagen{
   height: 30px;
   width: 30px;
}
#convertir:hover{
   background-color: white;
   color: black;
   transition: 700ms all;
   transform: scale(1.3);
}